@import "variable";

.main-page-block-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: start;
  margin-bottom: 5px;
  max-width: 100%;
}

.main-page-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-page-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.block-title-left {
  text-align: center;
}

.block-title-buttons {
  text-align: center;
}

.article {
  width: 100%;
  min-width: 100%;
}

.block-title-articles {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

@media screen and (max-width: $mobile-max-width) {
  .main-page-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-page-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .main-page-btn-container {
    display: grid;
    gap: 1rem;
  }

  .block-title-left {
    text-align: left;
  }

  .block-title-buttons {
    text-align: right;
  }
}
