<header-component>Nagłówek H1</header-component>

<div class="main-page-block-container">
  <div class="main-page-buttons">
    <div>
      <strong>
        <p class="block-title-left">Pierwszy blok</p>
      </strong>
      <div class="main-page-radio-container">
        @for (article of articlesService.avaliableArticles(); track article) {
        <app-radio
          name="articles"
          [value]="article.text"
          [label]="article.title"
          (changed)="selectedArticle.set(article)"
        ></app-radio>
        } @empty {
        <h1>Brak artykułów</h1>
        <p>Zawsze możesz jakieś dodać :></p>
        } @if (isRandomAvaliable()) {
        <app-radio
          name="articles"
          value=""
          label="Losowy"
          [checked]="randomArticle()"
          (changed)="getRandomUnusedArticle()"
        ></app-radio>
        }
      </div>
    </div>

    <div>
      <strong>
        <p class="block-title-buttons">Drugi blok</p>
      </strong>
      <div class="main-page-btn-container">
        <button (click)="replaceAllWithSelected()" class="primary-btn">
          Zastąp
        </button>
        <button (click)="readArticle()" class="primary-btn">Doklej</button>
        <button (click)="readArticle()" class="primary-btn">Nowy</button>
      </div>
    </div>
  </div>

  <div class="article">
    <strong>
      <p class="block-title-articles">
        Blok z bardzo długą nazwą która sama się przytnie
      </p>
    </strong>
    @for (article of articlesService.usedArticles(); track article) {
    <header-component>{{ article.title }}</header-component>
    <article class="text-middle">
      {{ article.text }}
    </article>
    }
  </div>
</div>
