<header-component>Nagłówek H1</header-component>

<div class="main-page-block-container">
  <block-component title="Pierwszy blok">
    @for (article of mainPageService.allArticles(); track article) {
    <app-radio
      name="articles"
      [value]="article.text"
      [label]="article.title"
      (changed)="selectedArticle.set(article)"
    ></app-radio>
    }
  </block-component>

  <block-component title="Drugi blok">
    <div class="main-page-btn-container">
      <button (click)="test(selectedArticle())" class="primary-btn">
        Zastąp
      </button>
      <button class="primary-btn">Doklej</button>
    </div>
  </block-component>

  <block-component
    title="Trzeci blok z długą bardzo nazwą która sama się przytnie"
  >
    @for (article of mainPageService.allArticles(); track article) {
    <article class="text-middle">
      {{ article.text }}
    </article>
    }
  </block-component>
</div>
