@import "variable";

.main-page-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  height: 100%;
}

.main-page-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

@media screen and (max-width: $mobile-max-width) {
  .main-page-block-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "radio buttons"
      "text text";
  }
}
