<div class="main-container">
  <nav class="main-nav">
    <img
      src="../../assets/images/HTML.png"
      alt="HTML5 Logo"
      class="main-nav-logo-icon"
    />
    <div>
      <p>Zadanie <strong>rekrutacyjne</strong></p>
      @if (authorService.authorVisible()) {
      <p>{{ authorService.author }}</p>
      }
    </div>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <footer class="main-footer">
    <div class="main-footer-css-awesome">
      <div>
        CSS <br />
        IS <br />
        AWESOME
      </div>
    </div>
    <div class="layout-nabthat">
      <div class="layout-nabthat-dash"></div>
      <span>nabthat</span>
      <div class="layout-nabthat-dash"></div>
    </div>
    <task-select></task-select>
  </footer>
</div>
